body {
  background-color: #0099cc
}

a {
  color: black; 
  position: relative;
  z-index: 2;
}
a:hover {
  color: gray;
}

#spaceCanvas {
  z-index: 1;
  position: fixed;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro-descpription {
  position: absolute;
}

.front {
  z-index: 2;
}

.behind {
  z-index: 1;
}

/* Contacts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contacts {
  background-color: #0fcda1;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 2;
}

/* Contacts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.credits {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}